@import '../index.css';

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(75vw + 40px);
  height:75vh;
  padding-bottom: 10px;
  margin: 20px;
  background-color: var(--navbar-color);
  color: var(--big-text-color);
  border-radius: 20px;
  box-shadow: 0px 0px 17px 1px black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
}

.header button {
  background-color: var(--menu-alt-color);
  font-weight: 600;
  height: 30px;
  width: 30px;
  size: 50px;
  border: 0;
  border-radius: 50px;
}

.header > .clicked{
  background-color: #62dee7;
}

.imageBox {
  display: flex;
  min-width: 75vw;
  min-height: 84%;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 10px;
}

.buttonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.imageBox > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px;
  border: 0;
  border-radius: 10px;
  background-color: var(--menu-alt-color);
}

.imageBox > button:first-child {
  margin-right: auto;
}

.imageBox > button:last-child {
  margin-left: auto;
}

.cardcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 50px 20px 0px 20px;
  background-color: var(--menu-alt-color);
  border-radius: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.gallery img {
  max-width: 60vw;
  max-height: 55vh;
  box-shadow: 0px 0px 30px 2px #264859;
  border-radius: 10px;
}

.credit {
  position: relative;
  background-color: #00000075;
  height: 2em;
  bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 550px),
       screen and (max-height: 550px){
  
  .imageBox > button {
    display: none;
  }

  .gallery {
    width: 100%;
    max-height: 80vh;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
  }

  .header {
    flex-direction: column;
    /* gap: 0px; */
    margin-bottom: 5px;
  }

  .header > h1 {
    margin: 0;
    margin-top: 10px;
  }

  .header > h2 {
    display: none;
  }

  .buttonBox{
    flex-wrap: wrap;
  }

  .gallery > .imageBox {
    width: 100%;
  }

  .cardcontainer {
    padding: 0px;
    height: 100%;
    background-color: var(--navbar-color);
  }

  .gallery img {
    max-width: 100%;
    max-height: 60vh;
    box-shadow: 0px 0px 30px 2px #264859;
    border-radius: 10px;
  }
}