body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* color pallet */

.App{
  --main-bg-color: #F7EFED;
  --navbar-color: #33546D;
  --menu-color: #84AFE6;
  --menu-alt-color: #A4BCCC;
  --big-text-color: #f57987;
}

/* global/main style  */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: unset;
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: var(--navbar-color);
  z-index: 2;
}

.logo {
  margin-right: auto;
  color: var(--big-text-color);
  letter-spacing: 1px;
}

.menu-button {
  margin-right: auto;
  margin-left: 2vw;
  padding: 5px;
  padding-bottom: 0;
  border-radius: 5px;
  transition: all  .5s;
}

.menu-icon {
  color: var(--big-text-color);
  transition: all  .5s;
}

.menu-button:hover {
  background-color: var(--menu-alt-color);
}
.menu-button>.open {
  transform: rotate(90deg);
}

/* home styles */

.home {
  background-color: var(--main-bg-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* gallery stles */

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(75vw + 40px);
  height:75vh;
  padding-bottom: 10px;
  margin: 20px;
  background-color: var(--navbar-color);
  color: var(--big-text-color);
  border-radius: 20px;
  box-shadow: 0px 0px 17px 1px black;
}

.gallery > .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  letter-spacing: 1px;
}

.gallery > .header > button {
  background-color: var(--menu-alt-color);
  font-weight: 600;
  height: 30px;
  width: 30px;
  size: 50px;
  border: 0;
  border-radius: 50px;
}

.gallery > .header > .clicked{
  background-color: #62dee7;
}

.gallery > .image-box {
  display: flex;
  min-width: 75vw;
  min-height: 84%;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 10px;
}

.gallery > .image-box > button {
  padding: 10px;
  height: 100px;
  border: 0;
  border-radius: 10px;
  background-color: var(--menu-alt-color);
}

.gallery > .image-box > button:first-child {
  margin-right: auto;
}

.gallery > .image-box > button:last-child {
  margin-left: auto;
}

.gallery .cardcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  padding: 50px 20px 0px 20px;
  background-color: var(--menu-alt-color);
  border-radius: 20px;
}

.gallery .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.gallery img {
  max-width: 60vw;
  max-height: 55vh;
  box-shadow: 0px 0px 30px 2px #264859;
  border-radius: 10px;
}

.gallery .credit {
  position: relative;
  background-color: #00000075;
  height: 2em;
  bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  border-radius: 0 0 10px 10px;
}

/* footer style */

.footer {
  background-color: var(--navbar-color);
  color: #FAEBDB;
}