@import '../index.css';

.dropdown {
  position: absolute;
  top: 80px;
  height: 0px;
  width: 15em;
  margin-bottom: auto;
  overflow: hidden;
  background-color: var(--menu-color);
  border-bottom-right-radius: 25px;
  box-shadow: 0px 0px 11px 0px black;
  transition: all .75s;
  z-index: 1;
}

.dropdown.open {
  height: 470px;
}

.exit {
  display: none; 
}

.dropdown > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin-top: 50px;
  gap: 50px;
}

.dropdown li {
  list-style: none;
}

.dropdown li > button {
  background-color: var(--navbar-color);
  color: var(--big-text-color);
  letter-spacing: 2px;
  height: 3em;
  font-size: 1.2em;
  font-weight: 600;
  border: 4px solid #13212c;
  padding: 5px;
  border-radius: 10px;
}

/* Phone screen size */
@media screen and (max-width: 510px){

  .dropdown {
    top: 0px;
    height: 100vh;
    width: 0px;
    border-bottom-right-radius: 0px;
    transition: all .1s;
  }

  .dropdown.open {
    width: 100vw;
    height: 100vh;
  }

  .exit {
    display: block; 
    width: 30vw;
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .dropdown > ul {
    margin-top: 0px;
    gap: 0px;
    overflow: scroll;
  }

  .dropdown li > button {
    background-color: var(--navbar-color);
    color: var(--big-text-color);
    letter-spacing: 2px;
    height: 5em;
    width: 100%;
    font-size: 1.2em;
    font-weight: 600;
    border: 2px solid #13212c;
    border-radius: 0px;
  }
}